header{
    width:1180px;
    margin:auto;
}

body{
    margin:0;
}
.box{
    height:40px;
    background-color:#3b8de3;
}
.con{
    width:1180px;
    height:100%;
    margin:auto;
}
.left{
    width:690px;
    height:100%;
    float:left;

}
.con a{
    text-decoration: none;
    float:left;
    text-align:center;
    line-height: 40px;
    color:#ffffff;
}
.left a:hover{
    background-color:#ffffff;
    color:#3b8de3;
    border-top:3px solid orange;
}
.left a {
    /*
    无论是块元素还是行元素，只要进行了浮动，他就可以在一行显示，并且可以设置宽高，还可以忽略掉空格
     */
    width:20%;
    height:100%;

}
.right{
    width:240px;
    height:100%;
    float:right;
    position:relative;
    background-color: #0185e1;
    padding:0 15px 0;
}
.right a{
    width:33.3333%;
    height:100%;

}

.left .active{
    background:#ffffff;
    color:#3b8de3;
    border-top:3px solid orange;
}
.right .login{
    background:url("img.png") no-repeat -315px -500px;
}

.right a:hover{
    background: #1f5bfe;
}
.right .sanjiao{
    width:0;
    height:0;
    border-top:10px solid #ffffff;
    border-left:5px solid #3b8de3;
    border-right:5px solid #3b8de3;
    position:absolute;
    right:0;
    top:16px;
}
/*
热门城市
 */
.hot{
    width:1180px;
    margin:auto;
    padding-top:10px;
    font-size:13px;
}
.hot span{
    float:left;
    color:#000000;
    margin:5px;
}

.hot a{
    float:left;
    color:#3b8de3;
    margin:5px;
    text-decoration:none;
}
.hot a:hover{
    color:orange;
}

.wheel-box{
    width:100%;height:380px;
    position:relative;

}
.banner1{
    width:100%;height:100%;
    background: url("biner2.png") no-repeat center;
    position: absolute;
    left: 0;top:0;
    z-index: 2;
}
.banner2{
    width:100%;height:100%;
    background: url("biner1.png") no-repeat center;
    position: absolute;
    left: 0;top:0;
    z-index: 1;
}

.btns{
    width:200px;
    height:20px;
    position:absolute;
    right:20px;bottom:20px;
    z-index: 3;
}

.btn{
    width:50px;height:10px;background: #000;
    float: left;
    margin:0 5px;
}

.btn.active{
    background: orange;
}


/*热门城市*/

.hotLine{
    width:1180px;
    height:510px;
    margin:auto;
    padding-top:30px;
}

.hotLine .h{
    width:100%;
    height:65px;
    margin-bottom:5px;
}

.hotLine .h .hLeft{
    width:20%;
    height:65px;
    line-height:65px;
    font-size:30px;
    float:left;
}

.hotLine .h .hRight{
    width:65%;
    height:65px;
    line-height:65px;
    font-size:20px;
    margin-top:10px;
    float:right;
}
.hotLine .h .hRight a{
    width:10%;
    height:65px;
    line-height:65px;
    text-decoration:none;
    float:right;
}

.hotLine .h .hRight a:hover{
    color:#3b8de3;
    border-bottom:3px solid #3b8de3;
}

.hRight .nation{
    width:100%;
    height:100%;
    background:lightskyblue;
    border-bottom:3px solid #3b8de3;
    color:dodgerblue;
}
hr{
    clear:both;
}

.ticket{
    width:100%;
    height:445px;
}

.ticket .t{
    width:19%;
    height:48%;
    float:left;
    margin:10px 11px 10px 0;
    background-color:rgb(249,249,249);
}

.t .address{
    font-size:20px;
    color:#3b8de3;
    margin:30px 30px 0px;
    background:url("img.png") no-repeat +10px -70px;
}

.t .address1{
    background:url("img.png") no-repeat +30px -70px;
}

.t .time{
    font-size:15px;
    margin:10px 40px 15px;
    color:#3b8de3;
}
.t .prices{
    width:80%;
    height:80%;
    padding:30px;
}

.prices .Desc_price{
    width:50px;
    height:30px;
    line-height:30px;
    font-size:15px;
    color:#3b8de3;
    padding-left:15px;
    pading-right:0;
    margin-left:0;
    float:left;
    background:url("img.png") no-repeat -40px -100px;
}

.prices .price{
    width:100px;
    height:30px;
    line-height:30px;
    color:red;
    font-size:30px;
    float:left;
}

